<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HTMLメール テンプレート</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/mail/normalize.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/mail/extra.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/mail/outlook.css">
    <link rel="stylesheet" type="text/css" href="../../public/css/mail/thin_mail.css">
</head>

<body>
    <div class="wrap">
        <table id="thin_mail">
            <thead>
                <tr class="header">
                    <th class="logo" colspan="2"><img src="http://www.xblog.shop/mail/logo.png" alt="Company logo"
                            width="82">
                    </th>
                    <th colspan="1"><a href="#">
                            <span>WEBサイトを見る</span>
                            <img src="http://www.xblog.shop/mail/openBrowser.png" width="15" height="15"></a>
                    </th>
                </tr>
            </thead>
            <tbody>

                <tr class="main_img">
                    <th colspan="3"><img src="http://www.xblog.shop/mail/bigImg.png" alt="" width="600"></th>
                </tr>

                <tr class="main_txt">
                    <th colspan="3">テストタイトル</th>
                </tr>
                <tr>
                    <th colspan="3" height="25"></th>
                </tr>
                <tr class="information_title">
                    <th colspan="3">〇〇様よりお問い合わせがありました。</th>
                </tr>
                <tr>
                    <th colspan="3" height="25"></th>
                </tr>
                <tr class="sub_information_title">
                    <th colspan="3">
                        <p class="title">お客様情報</p>
                        <p class="sub_text">お名前:〇〇</p>
                        <p class="sub_text">メールアドレス:〇〇</p>
                        <p class="sub_text">電話番号:〇〇</p>
                    </th>
                </tr>
                <tr>
                    <th colspan="3" height="15"></th>
                </tr>
                <tr class="sub_information_title">
                    <th colspan="3">
                        <p class="title">お問い合わせ情報</p>
                        <p class="sub_text">ご用件：その他</p>
                        <p class="sub_text">お問い合わせ内容:〇〇</p>
                        <p class="sub_text">受付日時:〇〇</p>
                    </th>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="3" height="20"></th>
                </tr>
                <tr class="sns">
                    <th colspan="2">SNS</th>
                    <td colspan="1">
                        <a href="#"><img src="http://www.xblog.shop/mail/facebook.png" alt="" width="37"
                                height="37"></a>
                        <a href="#" class="last"><img src="http://www.xblog.shop/mail/twitter.png" alt="" width="37"
                                height="37"></a>
                    </td>
                </tr>
                <tr>
                    <th colspan="3" height="20"></th>
                </tr>
                <tr class="small_txt">
                    <th colspan="3">
                        管理者宛にお問い合わせ通知メールを配信しています。※このメールは、tpl雛形から作成しています。
                    </th>
                </tr>
                <tr>
                    <th colspan="3" height="10"></th>
                </tr>
                <tr class="small_txt">
                    <th colspan="3">
                        □発行：ダミー株式会社<br>
                        □住所：東京都ダミー<br>
                        □編集：ダミー<br>
                        □発行日：2020年9月10日
                    </th>
                </tr>
                <tr>
                    <th colspan="3" height="15"></th>
                </tr>
                <tr>
                    <th colspan="3"><img src="http://www.xblog.shop/mail/logo.png" alt="Company logo" width="82"></th>
                </tr>
                <tr>
                    <th colspan="3" height="10"></th>
                </tr>
                <tr class="small_txt">
                    <th colspan="3" class="ta_c">
                        Copyright (C) 2020 Thin.
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>

</body>

</html>