@charset "UTF-8";
/*! Writen  by SCSS */
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500&display=swap");
/* RESET */
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500&display=swap");
a,
img,
ul,
li,
table,
tr,
td,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
div,
body,
html,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
header,
footer,
section,
figure,
figcaption,
aside,
main,
span {
  padding: 0px;
  margin: 0px;
  border: none;
  list-style: none;
  font-weight: inherit;
  font-size: 1em;
}

header,
footer,
section,
figure,
figcaption,
aside,
main {
  display: block;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
}

a img {
  border: none;
}

/*font-style
---------------------------------------*/
body {
  font-size: 14px;
  line-height: 1.8;
  color: #000;
  font-weight: 500;
  -webkit-text-size-adjust: 100%;
  background: #fff;
  text-size-adjust: 100%;
}
body *,
body *:before,
body *:after {
  box-sizing: border-box;
}
body *.bs_cb {
  box-sizing: content-box;
}
body .wrap {
  position: relative;
  overflow: hidden;
  z-index: 999;
}

i.iefontfix {
  transform: translateY(0.2em);
  font-style: inherit;
}

.kerning {
  font-feature-settings: "palt";
}

.bold {
  font-weight: bold;
}

.nobold {
  font-weight: normal;
}

/*fontfamily-style
---------------------------------------*/
.mincho {
  font-family: "游明朝", "Yu Mincho", YuMincho, "游明朝体", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
}

.gothic, body {
  font-family: "游ゴシック", "Yu Gothic", YuGothic, "游ゴシック体", "Lucida Grande", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-family\0 : Meiryo, sans-serif;
}

.mincho_webfont {
  font-family: "游ゴシック", "Yu Gothic", YuGothic, "游ゴシック体", "Lucida Grande", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-family\0 : Meiryo, sans-serif;
  font-style: normal;
  font-weight: 400;
}

/*color-style
---------------------------------------*/
.color_red {
  color: #990000;
}

.bg_red {
  background-color: #990000;
}

.color_blue {
  color: #000099;
}

.bg_blue {
  background-color: #000099;
}

.color_green {
  color: #009900;
}

.bg_green {
  background-color: #009900;
}

.color_yellow {
  color: #FFFF00;
}

.bg_yellow {
  background-color: #FFFF00;
}

/*link-style
---------------------------------------*/
a {
  text-decoration: none;
  color: inherit;
}

/* NEW! */
body > img,
body > iframe {
  display: none;
}

/*** CLEAR-FIX ***/
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}

/* ふんわりアルファオーバー */
.alpha a img {
  transition: all 0.3s ease-in-out 0s;
}
body:not(.mobile) .alpha a:hover img {
  opacity: 0.7;
}

/* fade utility  ふんわりマウスオーバー画像置換 */
.fadeimg_wrap {
  display: inline-block;
  position: relative;
}
.fadeimg_wrap img {
  transition: all 0.3s ease-in-out 0s;
}
.fadeimg_wrap img.off {
  position: relative;
  z-index: 1;
}
.fadeimg_wrap img.on {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
}
body:not(.mobile) .fadeimg_wrap:hover img.off {
  opacity: 0;
}
body:not(.mobile) .fadeimg_wrap:hover img.on {
  opacity: 1;
}

.cl_b {
  clear: both;
}

/* NEW! */
/*caption*/
.cap_l {
  text-align: left;
  font-size: 10px;
}

.cap_r {
  text-align: right;
  font-size: 10px;
}

.center {
  margin-left: auto !important;
  margin-right: auto !important;
}

/*** ALIGN ***/
.ta_c {
  text-align: center;
}

.ta_r {
  text-align: right;
}

.ta_l {
  text-align: left;
}

@media screen and (max-width: 767px) {
  .ta_c_pc {
    text-align: center;
  }

  .ta_r_pc {
    text-align: right;
  }

  .ta_l_pc {
    text-align: left;
  }
}
@media not screen, screen and (min-width: 768px) {
  .ta_c_sp {
    text-align: center;
  }

  .ta_r_sp {
    text-align: right;
  }

  .ta_l_sp {
    text-align: left;
  }
}
body:not(.mobile) a.sp_link {
  pointer-events: none;
}

/*///////////////////////////////////////////
                Shiny CSS
                MUTO 2016
///////////////////////////////////////////*/
.shiny a {
  display: inline-block;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.shiny a:before {
  display: block;
  position: absolute;
  z-index: 10;
  left: -100%;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0) 100%);
  animation: shiny 4s infinite linear 0s;
}

/*光の起点と終点の指定*/
@keyframes shiny {
  0% {
    left: -100%;
  }
  20%, 100% {
    left: 100%;
  }
}
@media screen and (max-width: 900px) {
  .vpc900 {
    display: none;
  }
}
@media not screen, screen and (min-width: 901px) {
  .vsp900 {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .vpc767 {
    display: none;
  }
}
@media not screen, screen and (min-width: 768px) {
  .vsp767 {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .vpc640 {
    display: none;
  }
}
@media not screen, screen and (min-width: 641px) {
  .vsp640 {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .vpc600 {
    display: none;
  }
}
@media not screen, screen and (min-width: 601px) {
  .vsp600 {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .vpc480 {
    display: none;
  }
}
@media not screen, screen and (min-width: 481px) {
  .vsp480 {
    display: none;
  }
}
.mt0 {
  margin-top: 0px !important;
}

.mr0 {
  margin-right: 0px !important;
}

.ml0 {
  margin-left: 0px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.pt0 {
  padding-top: 0px !important;
}

.pr0 {
  padding-right: 0px !important;
}

.pl0 {
  padding-left: 0px !important;
}

.pb0 {
  padding-bottom: 0px !important;
}

.mt1 {
  margin-top: 1px !important;
}

.mr1 {
  margin-right: 1px !important;
}

.ml1 {
  margin-left: 1px !important;
}

.mb1 {
  margin-bottom: 1px !important;
}

.pt1 {
  padding-top: 1px !important;
}

.pr1 {
  padding-right: 1px !important;
}

.pl1 {
  padding-left: 1px !important;
}

.pb1 {
  padding-bottom: 1px !important;
}

.mt2 {
  margin-top: 2px !important;
}

.mr2 {
  margin-right: 2px !important;
}

.ml2 {
  margin-left: 2px !important;
}

.mb2 {
  margin-bottom: 2px !important;
}

.pt2 {
  padding-top: 2px !important;
}

.pr2 {
  padding-right: 2px !important;
}

.pl2 {
  padding-left: 2px !important;
}

.pb2 {
  padding-bottom: 2px !important;
}

.mt3 {
  margin-top: 3px !important;
}

.mr3 {
  margin-right: 3px !important;
}

.ml3 {
  margin-left: 3px !important;
}

.mb3 {
  margin-bottom: 3px !important;
}

.pt3 {
  padding-top: 3px !important;
}

.pr3 {
  padding-right: 3px !important;
}

.pl3 {
  padding-left: 3px !important;
}

.pb3 {
  padding-bottom: 3px !important;
}

.mt4 {
  margin-top: 4px !important;
}

.mr4 {
  margin-right: 4px !important;
}

.ml4 {
  margin-left: 4px !important;
}

.mb4 {
  margin-bottom: 4px !important;
}

.pt4 {
  padding-top: 4px !important;
}

.pr4 {
  padding-right: 4px !important;
}

.pl4 {
  padding-left: 4px !important;
}

.pb4 {
  padding-bottom: 4px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.ml5 {
  margin-left: 5px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.pt5 {
  padding-top: 5px !important;
}

.pr5 {
  padding-right: 5px !important;
}

.pl5 {
  padding-left: 5px !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.mt6 {
  margin-top: 6px !important;
}

.mr6 {
  margin-right: 6px !important;
}

.ml6 {
  margin-left: 6px !important;
}

.mb6 {
  margin-bottom: 6px !important;
}

.pt6 {
  padding-top: 6px !important;
}

.pr6 {
  padding-right: 6px !important;
}

.pl6 {
  padding-left: 6px !important;
}

.pb6 {
  padding-bottom: 6px !important;
}

.mt7 {
  margin-top: 7px !important;
}

.mr7 {
  margin-right: 7px !important;
}

.ml7 {
  margin-left: 7px !important;
}

.mb7 {
  margin-bottom: 7px !important;
}

.pt7 {
  padding-top: 7px !important;
}

.pr7 {
  padding-right: 7px !important;
}

.pl7 {
  padding-left: 7px !important;
}

.pb7 {
  padding-bottom: 7px !important;
}

.mt8 {
  margin-top: 8px !important;
}

.mr8 {
  margin-right: 8px !important;
}

.ml8 {
  margin-left: 8px !important;
}

.mb8 {
  margin-bottom: 8px !important;
}

.pt8 {
  padding-top: 8px !important;
}

.pr8 {
  padding-right: 8px !important;
}

.pl8 {
  padding-left: 8px !important;
}

.pb8 {
  padding-bottom: 8px !important;
}

.mt9 {
  margin-top: 9px !important;
}

.mr9 {
  margin-right: 9px !important;
}

.ml9 {
  margin-left: 9px !important;
}

.mb9 {
  margin-bottom: 9px !important;
}

.pt9 {
  padding-top: 9px !important;
}

.pr9 {
  padding-right: 9px !important;
}

.pl9 {
  padding-left: 9px !important;
}

.pb9 {
  padding-bottom: 9px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pr15 {
  padding-right: 15px !important;
}

.pl15 {
  padding-left: 15px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mr25 {
  margin-right: 25px !important;
}

.ml25 {
  margin-left: 25px !important;
}

.mb25 {
  margin-bottom: 25px !important;
}

.pt25 {
  padding-top: 25px !important;
}

.pr25 {
  padding-right: 25px !important;
}

.pl25 {
  padding-left: 25px !important;
}

.pb25 {
  padding-bottom: 25px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.pl30 {
  padding-left: 30px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.mt35 {
  margin-top: 35px !important;
}

.mr35 {
  margin-right: 35px !important;
}

.ml35 {
  margin-left: 35px !important;
}

.mb35 {
  margin-bottom: 35px !important;
}

.pt35 {
  padding-top: 35px !important;
}

.pr35 {
  padding-right: 35px !important;
}

.pl35 {
  padding-left: 35px !important;
}

.pb35 {
  padding-bottom: 35px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pr40 {
  padding-right: 40px !important;
}

.pl40 {
  padding-left: 40px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.mt45 {
  margin-top: 45px !important;
}

.mr45 {
  margin-right: 45px !important;
}

.ml45 {
  margin-left: 45px !important;
}

.mb45 {
  margin-bottom: 45px !important;
}

.pt45 {
  padding-top: 45px !important;
}

.pr45 {
  padding-right: 45px !important;
}

.pl45 {
  padding-left: 45px !important;
}

.pb45 {
  padding-bottom: 45px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mr50 {
  margin-right: 50px !important;
}

.ml50 {
  margin-left: 50px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.pt50 {
  padding-top: 50px !important;
}

.pr50 {
  padding-right: 50px !important;
}

.pl50 {
  padding-left: 50px !important;
}

.pb50 {
  padding-bottom: 50px !important;
}

.mt55 {
  margin-top: 55px !important;
}

.mr55 {
  margin-right: 55px !important;
}

.ml55 {
  margin-left: 55px !important;
}

.mb55 {
  margin-bottom: 55px !important;
}

.pt55 {
  padding-top: 55px !important;
}

.pr55 {
  padding-right: 55px !important;
}

.pl55 {
  padding-left: 55px !important;
}

.pb55 {
  padding-bottom: 55px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mr60 {
  margin-right: 60px !important;
}

.ml60 {
  margin-left: 60px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.pt60 {
  padding-top: 60px !important;
}

.pr60 {
  padding-right: 60px !important;
}

.pl60 {
  padding-left: 60px !important;
}

.pb60 {
  padding-bottom: 60px !important;
}

.mt65 {
  margin-top: 65px !important;
}

.mr65 {
  margin-right: 65px !important;
}

.ml65 {
  margin-left: 65px !important;
}

.mb65 {
  margin-bottom: 65px !important;
}

.pt65 {
  padding-top: 65px !important;
}

.pr65 {
  padding-right: 65px !important;
}

.pl65 {
  padding-left: 65px !important;
}

.pb65 {
  padding-bottom: 65px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.mr70 {
  margin-right: 70px !important;
}

.ml70 {
  margin-left: 70px !important;
}

.mb70 {
  margin-bottom: 70px !important;
}

.pt70 {
  padding-top: 70px !important;
}

.pr70 {
  padding-right: 70px !important;
}

.pl70 {
  padding-left: 70px !important;
}

.pb70 {
  padding-bottom: 70px !important;
}

.mt75 {
  margin-top: 75px !important;
}

.mr75 {
  margin-right: 75px !important;
}

.ml75 {
  margin-left: 75px !important;
}

.mb75 {
  margin-bottom: 75px !important;
}

.pt75 {
  padding-top: 75px !important;
}

.pr75 {
  padding-right: 75px !important;
}

.pl75 {
  padding-left: 75px !important;
}

.pb75 {
  padding-bottom: 75px !important;
}

.mt80 {
  margin-top: 80px !important;
}

.mr80 {
  margin-right: 80px !important;
}

.ml80 {
  margin-left: 80px !important;
}

.mb80 {
  margin-bottom: 80px !important;
}

.pt80 {
  padding-top: 80px !important;
}

.pr80 {
  padding-right: 80px !important;
}

.pl80 {
  padding-left: 80px !important;
}

.pb80 {
  padding-bottom: 80px !important;
}

.mt85 {
  margin-top: 85px !important;
}

.mr85 {
  margin-right: 85px !important;
}

.ml85 {
  margin-left: 85px !important;
}

.mb85 {
  margin-bottom: 85px !important;
}

.pt85 {
  padding-top: 85px !important;
}

.pr85 {
  padding-right: 85px !important;
}

.pl85 {
  padding-left: 85px !important;
}

.pb85 {
  padding-bottom: 85px !important;
}

.mt90 {
  margin-top: 90px !important;
}

.mr90 {
  margin-right: 90px !important;
}

.ml90 {
  margin-left: 90px !important;
}

.mb90 {
  margin-bottom: 90px !important;
}

.pt90 {
  padding-top: 90px !important;
}

.pr90 {
  padding-right: 90px !important;
}

.pl90 {
  padding-left: 90px !important;
}

.pb90 {
  padding-bottom: 90px !important;
}

.mt95 {
  margin-top: 95px !important;
}

.mr95 {
  margin-right: 95px !important;
}

.ml95 {
  margin-left: 95px !important;
}

.mb95 {
  margin-bottom: 95px !important;
}

.pt95 {
  padding-top: 95px !important;
}

.pr95 {
  padding-right: 95px !important;
}

.pl95 {
  padding-left: 95px !important;
}

.pb95 {
  padding-bottom: 95px !important;
}

.mt100 {
  margin-top: 100px !important;
}

.mr100 {
  margin-right: 100px !important;
}

.ml100 {
  margin-left: 100px !important;
}

.mb100 {
  margin-bottom: 100px !important;
}

.pt100 {
  padding-top: 100px !important;
}

.pr100 {
  padding-right: 100px !important;
}

.pl100 {
  padding-left: 100px !important;
}

.pb100 {
  padding-bottom: 100px !important;
}

.mt105 {
  margin-top: 105px !important;
}

.mr105 {
  margin-right: 105px !important;
}

.ml105 {
  margin-left: 105px !important;
}

.mb105 {
  margin-bottom: 105px !important;
}

.pt105 {
  padding-top: 105px !important;
}

.pr105 {
  padding-right: 105px !important;
}

.pl105 {
  padding-left: 105px !important;
}

.pb105 {
  padding-bottom: 105px !important;
}

.mt110 {
  margin-top: 110px !important;
}

.mr110 {
  margin-right: 110px !important;
}

.ml110 {
  margin-left: 110px !important;
}

.mb110 {
  margin-bottom: 110px !important;
}

.pt110 {
  padding-top: 110px !important;
}

.pr110 {
  padding-right: 110px !important;
}

.pl110 {
  padding-left: 110px !important;
}

.pb110 {
  padding-bottom: 110px !important;
}

.mt115 {
  margin-top: 115px !important;
}

.mr115 {
  margin-right: 115px !important;
}

.ml115 {
  margin-left: 115px !important;
}

.mb115 {
  margin-bottom: 115px !important;
}

.pt115 {
  padding-top: 115px !important;
}

.pr115 {
  padding-right: 115px !important;
}

.pl115 {
  padding-left: 115px !important;
}

.pb115 {
  padding-bottom: 115px !important;
}

.mt120 {
  margin-top: 120px !important;
}

.mr120 {
  margin-right: 120px !important;
}

.ml120 {
  margin-left: 120px !important;
}

.mb120 {
  margin-bottom: 120px !important;
}

.pt120 {
  padding-top: 120px !important;
}

.pr120 {
  padding-right: 120px !important;
}

.pl120 {
  padding-left: 120px !important;
}

.pb120 {
  padding-bottom: 120px !important;
}

.mt125 {
  margin-top: 125px !important;
}

.mr125 {
  margin-right: 125px !important;
}

.ml125 {
  margin-left: 125px !important;
}

.mb125 {
  margin-bottom: 125px !important;
}

.pt125 {
  padding-top: 125px !important;
}

.pr125 {
  padding-right: 125px !important;
}

.pl125 {
  padding-left: 125px !important;
}

.pb125 {
  padding-bottom: 125px !important;
}

.mt130 {
  margin-top: 130px !important;
}

.mr130 {
  margin-right: 130px !important;
}

.ml130 {
  margin-left: 130px !important;
}

.mb130 {
  margin-bottom: 130px !important;
}

.pt130 {
  padding-top: 130px !important;
}

.pr130 {
  padding-right: 130px !important;
}

.pl130 {
  padding-left: 130px !important;
}

.pb130 {
  padding-bottom: 130px !important;
}

.mt135 {
  margin-top: 135px !important;
}

.mr135 {
  margin-right: 135px !important;
}

.ml135 {
  margin-left: 135px !important;
}

.mb135 {
  margin-bottom: 135px !important;
}

.pt135 {
  padding-top: 135px !important;
}

.pr135 {
  padding-right: 135px !important;
}

.pl135 {
  padding-left: 135px !important;
}

.pb135 {
  padding-bottom: 135px !important;
}

.mt140 {
  margin-top: 140px !important;
}

.mr140 {
  margin-right: 140px !important;
}

.ml140 {
  margin-left: 140px !important;
}

.mb140 {
  margin-bottom: 140px !important;
}

.pt140 {
  padding-top: 140px !important;
}

.pr140 {
  padding-right: 140px !important;
}

.pl140 {
  padding-left: 140px !important;
}

.pb140 {
  padding-bottom: 140px !important;
}

.mt145 {
  margin-top: 145px !important;
}

.mr145 {
  margin-right: 145px !important;
}

.ml145 {
  margin-left: 145px !important;
}

.mb145 {
  margin-bottom: 145px !important;
}

.pt145 {
  padding-top: 145px !important;
}

.pr145 {
  padding-right: 145px !important;
}

.pl145 {
  padding-left: 145px !important;
}

.pb145 {
  padding-bottom: 145px !important;
}

.mt150 {
  margin-top: 150px !important;
}

.mr150 {
  margin-right: 150px !important;
}

.ml150 {
  margin-left: 150px !important;
}

.mb150 {
  margin-bottom: 150px !important;
}

.pt150 {
  padding-top: 150px !important;
}

.pr150 {
  padding-right: 150px !important;
}

.pl150 {
  padding-left: 150px !important;
}

.pb150 {
  padding-bottom: 150px !important;
}

.mt155 {
  margin-top: 155px !important;
}

.mr155 {
  margin-right: 155px !important;
}

.ml155 {
  margin-left: 155px !important;
}

.mb155 {
  margin-bottom: 155px !important;
}

.pt155 {
  padding-top: 155px !important;
}

.pr155 {
  padding-right: 155px !important;
}

.pl155 {
  padding-left: 155px !important;
}

.pb155 {
  padding-bottom: 155px !important;
}

.mt160 {
  margin-top: 160px !important;
}

.mr160 {
  margin-right: 160px !important;
}

.ml160 {
  margin-left: 160px !important;
}

.mb160 {
  margin-bottom: 160px !important;
}

.pt160 {
  padding-top: 160px !important;
}

.pr160 {
  padding-right: 160px !important;
}

.pl160 {
  padding-left: 160px !important;
}

.pb160 {
  padding-bottom: 160px !important;
}

.mt165 {
  margin-top: 165px !important;
}

.mr165 {
  margin-right: 165px !important;
}

.ml165 {
  margin-left: 165px !important;
}

.mb165 {
  margin-bottom: 165px !important;
}

.pt165 {
  padding-top: 165px !important;
}

.pr165 {
  padding-right: 165px !important;
}

.pl165 {
  padding-left: 165px !important;
}

.pb165 {
  padding-bottom: 165px !important;
}

.mt170 {
  margin-top: 170px !important;
}

.mr170 {
  margin-right: 170px !important;
}

.ml170 {
  margin-left: 170px !important;
}

.mb170 {
  margin-bottom: 170px !important;
}

.pt170 {
  padding-top: 170px !important;
}

.pr170 {
  padding-right: 170px !important;
}

.pl170 {
  padding-left: 170px !important;
}

.pb170 {
  padding-bottom: 170px !important;
}

.mt175 {
  margin-top: 175px !important;
}

.mr175 {
  margin-right: 175px !important;
}

.ml175 {
  margin-left: 175px !important;
}

.mb175 {
  margin-bottom: 175px !important;
}

.pt175 {
  padding-top: 175px !important;
}

.pr175 {
  padding-right: 175px !important;
}

.pl175 {
  padding-left: 175px !important;
}

.pb175 {
  padding-bottom: 175px !important;
}

.mt180 {
  margin-top: 180px !important;
}

.mr180 {
  margin-right: 180px !important;
}

.ml180 {
  margin-left: 180px !important;
}

.mb180 {
  margin-bottom: 180px !important;
}

.pt180 {
  padding-top: 180px !important;
}

.pr180 {
  padding-right: 180px !important;
}

.pl180 {
  padding-left: 180px !important;
}

.pb180 {
  padding-bottom: 180px !important;
}

.mt185 {
  margin-top: 185px !important;
}

.mr185 {
  margin-right: 185px !important;
}

.ml185 {
  margin-left: 185px !important;
}

.mb185 {
  margin-bottom: 185px !important;
}

.pt185 {
  padding-top: 185px !important;
}

.pr185 {
  padding-right: 185px !important;
}

.pl185 {
  padding-left: 185px !important;
}

.pb185 {
  padding-bottom: 185px !important;
}

.mt190 {
  margin-top: 190px !important;
}

.mr190 {
  margin-right: 190px !important;
}

.ml190 {
  margin-left: 190px !important;
}

.mb190 {
  margin-bottom: 190px !important;
}

.pt190 {
  padding-top: 190px !important;
}

.pr190 {
  padding-right: 190px !important;
}

.pl190 {
  padding-left: 190px !important;
}

.pb190 {
  padding-bottom: 190px !important;
}

.mt195 {
  margin-top: 195px !important;
}

.mr195 {
  margin-right: 195px !important;
}

.ml195 {
  margin-left: 195px !important;
}

.mb195 {
  margin-bottom: 195px !important;
}

.pt195 {
  padding-top: 195px !important;
}

.pr195 {
  padding-right: 195px !important;
}

.pl195 {
  padding-left: 195px !important;
}

.pb195 {
  padding-bottom: 195px !important;
}

.mt200 {
  margin-top: 200px !important;
}

.mr200 {
  margin-right: 200px !important;
}

.ml200 {
  margin-left: 200px !important;
}

.mb200 {
  margin-bottom: 200px !important;
}

.pt200 {
  padding-top: 200px !important;
}

.pr200 {
  padding-right: 200px !important;
}

.pl200 {
  padding-left: 200px !important;
}

.pb200 {
  padding-bottom: 200px !important;
}

.side_spc {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 767px) {
  .mb0_sp {
    margin-bottom: 0px !important;
  }

  .mb1_sp {
    margin-bottom: 1px !important;
  }

  .mb2_sp {
    margin-bottom: 2px !important;
  }

  .mb3_sp {
    margin-bottom: 3px !important;
  }

  .mb4_sp {
    margin-bottom: 4px !important;
  }

  .mb5_sp {
    margin-bottom: 5px !important;
  }

  .mb6_sp {
    margin-bottom: 6px !important;
  }

  .mb7_sp {
    margin-bottom: 7px !important;
  }

  .mb8_sp {
    margin-bottom: 8px !important;
  }

  .mb9_sp {
    margin-bottom: 9px !important;
  }

  .mb10_sp {
    margin-bottom: 10px !important;
  }

  .mb15_sp {
    margin-bottom: 15px !important;
  }

  .mb20_sp {
    margin-bottom: 20px !important;
  }

  .mb25_sp {
    margin-bottom: 25px !important;
  }

  .mb30_sp {
    margin-bottom: 30px !important;
  }

  .mb35_sp {
    margin-bottom: 35px !important;
  }

  .mb40_sp {
    margin-bottom: 40px !important;
  }

  .mb45_sp {
    margin-bottom: 45px !important;
  }

  .mb50_sp {
    margin-bottom: 50px !important;
  }

  .mb55_sp {
    margin-bottom: 55px !important;
  }

  .mb60_sp {
    margin-bottom: 60px !important;
  }

  .mb65_sp {
    margin-bottom: 65px !important;
  }

  .mb70_sp {
    margin-bottom: 70px !important;
  }

  .mb75_sp {
    margin-bottom: 75px !important;
  }

  .mb80_sp {
    margin-bottom: 80px !important;
  }

  .mb85_sp {
    margin-bottom: 85px !important;
  }

  .mb90_sp {
    margin-bottom: 90px !important;
  }

  .mb95_sp {
    margin-bottom: 95px !important;
  }

  .mb100_sp {
    margin-bottom: 100px !important;
  }

  .mb105_sp {
    margin-bottom: 105px !important;
  }

  .mb110_sp {
    margin-bottom: 110px !important;
  }

  .mb115_sp {
    margin-bottom: 115px !important;
  }

  .mb120_sp {
    margin-bottom: 120px !important;
  }

  .mb125_sp {
    margin-bottom: 125px !important;
  }

  .mb130_sp {
    margin-bottom: 130px !important;
  }

  .mb135_sp {
    margin-bottom: 135px !important;
  }

  .mb140_sp {
    margin-bottom: 140px !important;
  }

  .mb145_sp {
    margin-bottom: 145px !important;
  }

  .mb150_sp {
    margin-bottom: 150px !important;
  }

  .mb155_sp {
    margin-bottom: 155px !important;
  }

  .mb160_sp {
    margin-bottom: 160px !important;
  }

  .mb165_sp {
    margin-bottom: 165px !important;
  }

  .mb170_sp {
    margin-bottom: 170px !important;
  }

  .mb175_sp {
    margin-bottom: 175px !important;
  }

  .mb180_sp {
    margin-bottom: 180px !important;
  }

  .mb185_sp {
    margin-bottom: 185px !important;
  }

  .mb190_sp {
    margin-bottom: 190px !important;
  }

  .mb195_sp {
    margin-bottom: 195px !important;
  }

  .mb200_sp {
    margin-bottom: 200px !important;
  }
}
/*=====================================================
COMMON-LAYOUT
======================================================*/
.list_table_box {
  position: relative;
  overflow-x: auto;
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.5);
}
.list_table_box table {
  white-space: nowrap !important;
}

.list_table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}
.list_table tr {
  background-color: #fff;
}
.list_table th,
.list_table td {
  font-weight: normal;
  text-align: left;
  border-bottom: 1px solid #eee;
  padding: 15px;
}
.list_table th {
  background-color: #1c7cd5;
  color: #fff;
}
.list_table tr {
  text-align: center;
  padding: 20px 0;
  background-color: #fff;
  color: #3a3a3a;
}
.list_table tr:hover {
  background-color: #d4faff;
}

@media screen and (max-width: 767px) {
  .list_table {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .list_table {
    font-size: 13px;
  }
}
/* その１  */
.pager {
  text-align: center;
}

.pager .pagination {
  text-align: center;
  margin: 0;
  padding: 0;
  letter-spacing: -0.4em;
  font-size: 15px;
  border-radius: 5px;
  line-height: 0;
  border: 1px solid #dddddd;
  display: inline-block;
  overflow: hidden;
}

.pager .pagination li {
  padding: 0;
  display: inline-block;
  letter-spacing: normal;
  background: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  position: relative;
  border-right: 1px solid #dddddd;
}
.pager .pagination li:last-child {
  border-right: 0;
}

.pager .pagination li a,
.pager .pagination li > span {
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
  color: #1c7cd5;
  text-decoration: none;
  transition: 0.6s ease-in-out background, 0.6s ease-in-out color;
}

.pager .pagination li a > span,
.pager .pagination li > span > span {
  display: table-cell;
  vertical-align: middle;
}

body:not(.mobile) .pager .pagination li a:hover,
.pager .pagination li span.active {
  color: #fff;
  background: #1c7cd5;
}

.pager .pagination li span.no_link {
  color: #6c757d;
}

.pager .pagination li .vpc767 {
  display: table-cell !important;
}

.pager .pagination li .vsp767 {
  display: none !important;
}

@media screen and (max-width: 767px) {
  .pager .pagination li {
    display: none;
  }

  .pager .pagination li:first-child,
.pager .pagination li:last-child {
    display: inline-block;
  }

  .pager .pagination {
    border: 0px;
  }

  .pager .pagination li {
    border-right: 0px;
    margin-right: 10px;
    width: 70px;
  }

  .pager .pagination li .vpc767 {
    display: none !important;
  }

  .pager .pagination li .vsp767 {
    display: table-cell !important;
  }

  .pager .pagination li a,
.pager .pagination li > span {
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 10px 16px;
  }
}
.tag_cloud {
  letter-spacing: -0.4em;
  line-height: 1.3;
}
.tag_cloud > li {
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}
.tag_cloud > li .ellipsis_tag {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
}
.tag_cloud > li .num {
  margin-left: 5px;
  background: #1c7cd5;
  color: #fff;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  line-height: 25px;
  width: 25px;
  transition: color 0.6s ease-in-out, background 0.6s ease-in-out;
}
.tag_cloud > li a {
  display: block;
  border: 1px solid #333;
  border-radius: 3px;
  padding: 6px 10px;
  transition: color 0.6s ease-in-out, border 0.6s ease-in-out, background 0.6s ease-in-out;
}
.tag_cloud > li a:hover {
  border: 1px solid #1c7cd5;
  color: #fff;
  background: #1c7cd5;
}
.tag_cloud > li a:hover .num {
  color: #1c7cd5;
  background: #fff;
}

@media screen and (max-width: 767px) {
  .tag_cloud > li a {
    font-size: 12px;
    padding: 4px 6px;
  }

  .tag_cloud > li .num {
    width: 22px;
    line-height: 22px;
  }
}