<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <title>Thin</title>
  <link rel="stylesheet" type="text/css" href="<?php app\link\Link::asset('css/common.css'); ?>">
  <link rel="stylesheet" type="text/css" href="<?php app\link\Link::asset('css/home.css'); ?>">
</head>

<body>
  <div class="home_wrap">
    <div class="content">
      <p class="title">Thin</p>
      <div class="links">
        <ul>
          <li><a href="https://www.php.net/manual/ja/index.php">PHP</a></li>
          <li><a href="http://www.php.gr.jp/">NEWS</a></li>

          <li><a href="http://skinny.sx68.net/">Skinny</a></li>

          <li><a href="<?php app\link\Link::current_url('pagination_demo'); ?>">Pagination Demo</a></li>
          <li><a href="https://github.com/Tera112300/">Github</a></li>
        </ul>
      </div>
    </div>

  </div>
</body>

</html>